<nav class="navbar">
    <div class="container">
  
      <div class="navbar-header">
        <button class="navbar-toggler" data-toggle="open-navbar1">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <a href="/">
          <h4>EL<span>Challenge</span></h4>
        </a>
      </div>
  
      <div class="navbar-menu" id="open-navbar1">
        <ul class="navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/movies/create">Create</a></li>
          <li><a href="/user/login">Login</a></li>
          <li><a href="/user/register">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </nav>