<!DOCTYPE html>
<html>

  <head>
    <%- include('./partials/head.ejs') %>
  </head>


  <%- include('./partials/nav.ejs') %>
    <body>
    <br>
    <div class="category-name">Peliculas</div> <br/>

    <div class="contenete">
      <% movies.forEach(function(pelicula) { %>
        <div class="basic-card basic-card-aqua cuadraditos">
          <div class="card-content">
              <span class="card-title"><%= pelicula.title %></span>
              <p class="card-text">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </p>
          </div>

          <div class="card-link">
              <a href="#" title="Read Full"><span>Detalle</span></a>
          </div>
      </div>
          <% }) %>
    </div>

    <!DOCTYPE html>
<html lang="en">

    <!-- <head>
        <title>CSS Cards</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" rel="stylesheet">  

        <link rel="stylesheet" href="StyleCards.css"/>
    </head>

    <body>
            
        <div class="category-name">Movies</div> <br/>
            
        <div class="card-category-1">
            
            <div class="basic-card basic-card-aqua">
                <div class="card-content">
                    <span class="card-title">Card Title</span>
                    <p class="card-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </p>
                </div>

                <div class="card-link">
                    <a href="#" title="Read Full"><span>Read Full</span></a>
                </div>
            </div>

            <div class="basic-card basic-card-lips">
                <div class="card-content">
                    <span class="card-title">Card Title</span>
                    <p class="card-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </p>
                </div>

                <div class="card-link">
                    <a href="#" title="Read Full"><span>Read Full</span></a>
                </div>
            </div>

            <div class="basic-card basic-card-light">
                <div class="card-content">
                    <span class="card-title">Card Title</span>
                    <p class="card-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </p>
                </div>

                <div class="card-link">
                    <a href="#" title="Read Full"><span>Read Full</span></a>
                </div>
            </div>

            <div class="basic-card basic-card-dark">
                <div class="card-content">
                    <span class="card-title">Card Title</span>
                    <p class="card-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </p>
                </div>

                <div class="card-link">
                    <a href="#" title="Read Full"><span>Read Full</span></a>
                </div>
            </div>
            
        </div>
        
        <br/>
        
        
        
        <script src="ScriptCards.js"></script>
    </body>
</html>--->

  </body>
</html>
