<!DOCTYPE html>
<html>

  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/login.css">
  </head>

    <body>
    <%- include('./partials/nav.ejs') %>
    <div class="contenete">
        <main class="main">
            <div class="container2">
                <section class="wrapper">
                    <div class="heading">
                        <h1 class="text text-large">Login</h1>
                        <br>
                        <p class="text text-normal">No tienes cuenta? <span><a href="/user/register" class="text text-links">Crear cuenta</a></span>
                        </p>
                    </div>
                    <form name="signin" action="/user/login" method="POST" class="form">
                        <% if (locals.errors && errors.email) { %>
                            <div style="color: red;">
                                <%= errors.email.msg %> 
                            </div>
                        <% } %>
                        <div class="input-control">
                            <label for="email" class="input-label" hidden>Correo Electronico</label>
                            <input type="email" name="email" id="email" class="input-field" placeholder="Correo Electronico">
                        </div>
                        <div class="input-control">
                            <label for="password" class="input-label" hidden>Contraseña</label>
                            <input type="password" name="password" id="password" class="input-field" placeholder="Contraseña">
                        </div>
                        <div style="justify-content: center;" class="input-control">
                            <input type="submit" name="submit" class="input-submit" value="Login">
                        </div>
                    </form>
                </section>
            </div>
        </main>
    </div>

  </body>
</html>
