<!DOCTYPE html>
<html>

  <head>
    <%- include('./partials/head.ejs') %>
  </head>


  <%- include('./partials/nav.ejs') %>
    <body>
    <br>
    <div class="category-name">REGISTRO</div> <br/>

    <div class="contenete">
      
    </div>

  </body>
</html>
